/*

https://coolors.co/palette/333333-2b2d42-8d99ae-edf2f4-ef233c-d90429 ***USING THIS ONE***
#333333 - Jet
#2B2D42 - Space Gadet
#8D99AE - Manatee
#EDF2F4 - Alice Blue
#EF233C - Imperial Red */

/* Global styles
----------------------------------*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}
  
body {
  color: #E5EFE7;
  background-color: #000000;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  text-align: center;
}

h1, h2 {
  font-family: "Caveat", cursive;
  font-weight: 400;
  margin: 0;
  color: #E5EFE7
}

h1 {
  font-size: 75px;
}

h2 {
  font-size: 40px;
}

.heading-section {
  padding-top: 50px;
  padding-bottom: 25px;
}

.profile-picture {
  width: 200px;
  height: 267px;
  border-radius: 50%;
}

.links-section button {
  width: 75%;
  font-size: 25px;
  background-color: #E5EFE7;
  border-color: #E21515;
  border-radius: 8px;
  border-width: 8px;
  padding: 10px;
  transition: .5s;  
  color: #000000;
}

.links-section button:hover {
  background: hsl(218 17% 62% / 0.1);
  backdrop-filter: blur(1rem);
  width:78%;
  color: #E5EFE7;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;  
}

ul {
  list-style-type: none;
}

ul li {
  padding-bottom: 20px;
}

.logo {
  width: 700px;
}

@media screen and (max-width: 699px) {
  .logo {
    width: 300px;
  }
}